{#
/**
 * @file
 * Template for the News archive.
 *
 * Available variables:
 * - items: List of News. Each item contains:
 *   - title
 *   - news_date_from.
 *   - image_src.
 */
#}
<div class="row column text-center">
    {% for item in items %}
        <h2>{{ item.title }}</h2>
        <p>{{ item.news_date_from }}</p>
        <p><img src="{{ item.image_src }}" /></p>
        <ul>
            {% for tag in item.tags %}
                <li>{{ tag }}</li>
            {% endfor %}
        </ul>
        <hr />
    {% endfor %}
</div>