{#
/**
 * @file
 * Template for the single News.
 *
 * Available variables:
 * - items: List of News. Each item contains:
 *   - title
 *   - news_date_from
 *   - body.
 *   - image(image_src).
 */
#}
<div class="row column text-center">
    <h2>{{ items['item'].title }}</h2>
    <p>{{ items['item'].news_date_from }}</p>
    <hr />
    <p><img src="{{ items['item'].image }}" /></p>
    <p>{{ items['item'].body }}</p>
</div>