{#
/**
* @file
* Template for Last News Block
*
* Available variables:
* - items: List of News. Each item contains:
*   - title
*   - date_parse
*   - class.
*/
#}
<div class="row column text-center">
    {% for item in items %}
    <h2>{{ item.title }}</h2>
    <p>{{ item.date_parse }}</p>
        <div class="insert {{ item.class }}"></div>
    <hr/>
    {% endfor %}
</div>